<aside class="main-sidebar sidebar-dark-primary elevation-4 bg-navy">
	<!-- Brand Logo -->
	<a href="index3.html" class="brand-link" style="background-color: #ff0066"> 
		<ion-icon name="layers-outline" size="large" style="color: white"></ion-icon> 
		<span class="brand-text font-weight-light" style=" font-family: 'Alegreya Sans SC';font-size: 27px; color: white">PROSIGMAKA</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
			<br>
				<ion-icon name="person-circle-outline" style="font-size: 30px;"></ion-icon>
				</div>
				<div class="image">
				<br>
				<a class="d-block" href="#" style="font-family: 'Asul';font-size: 17px; color: white">Rumi</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
				<li class="nav-item has-treeview menu-open">

					<ul class="nav nav-treeview">
						
						<li class="nav-item">
							<a href="/base/index5" class="nav-link">
								<i class="far fa-circle nav-icon text-warning"></i>
									<p style="color: white">Biodata</p>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>